@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: full;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #040506;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #332f2c;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #040506;
}

.btn {
	background-color: blue-500;
	color: black;
	font-weight:bold;
	padding-top:2;
	padding-bottom:2;
	padding-left: 4;
	padding-right: 4;
	border-radius: 6;
	transition: 0.3s ease;
  }

.btn-clicked {
  background-color: #040506;
}



