.customNumberInput input::-webkit-inner-spin-button,
.customNumberInput input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.customNumberInput input[type="number"] {
  -moz-appearance: textfield;
}
